<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Team3</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
    body {
        font-family: Arial;
        
        margin: 32px 24px 24px;
        background-color: #f5f5f5;
    }
</style>